<h1>My Travel Diary - Travel is my Stress-Buster</h1>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
   <% end %>
</ul>

<p><a href="/places/new">Add new place</a></p>